.welcome{
    background-image: linear-gradient(90deg, #FBED96,#ABECD6);
    border-radius: 20px;
    padding: 30px 24px;
    text-align: center;
    margin-top: 40px;
}
.welcome>p{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.welcome>h2{
    font-size:32px ;
    font-weight: 500;
    margin: 0;
    margin-bottom: 42px;
}
.line{
    color: #38BDF8;
    display: inline-block;
    background-image: url(./../icons/line.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 20%;
}
.contato{
    color: white;
    background-color: black;
    border-radius: 32px;
    padding: 8px 36px;
    font-size: 14px;
    margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .welcome>p{
    font-size: 44px;
}
.welcome>h2{
    font-size: 60px ;
    line-height: 118.6%;
}
}
